@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Fonts */
    --text: 'Outfit', sans-serif;

    /* Colors */
    --white: #ffffff;
    --lightGrey: #d6e2f0;
    --grayishBlue: #7b879d;
    --darkBlue: #1f3251;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--lightGrey);
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: var(--white);
    border: none;
    border-radius: 20px;
}

figure {
    margin: 0;
    padding: 0;
}

.img {
    width: 100%;
    background-size: cover;
    border: none;
    border-radius: 20px;
}

.title {
    font-family: var(--text);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--darkBlue);
}

.text{
    font-family: var(--text);
    font-weight: 400;
    font-size: 16px;
    color: var(--grayishBlue);
    text-align: center;
    margin: 0 15px 25px 15px;
}
